@{
    ViewData["Title"] = "Quem Somos";
}


<h3 class="text-dark" style="text-align:center; font-style:italic">@ViewData["Title"]</h3>

<div>
    <p style="font-family: Arial; font-style:italic;">
        É grande a responsabilidade que temos com as pessoas, com o produto que oferecemos e com o desenvolvimento do setor cafeeiro no Brasil e no mundo.
    </p>
</div>

<hr />


<h3 class="text-dark" style="text-align:center; font-style:italic">Nosso Objetivo</h3>


<div>
    <p style="font-family: Arial; font-style:italic;">
        Satisfazer consumidores e clientes com produtos e serviços de qualidade, através da contínua melhoria, da inovação e do fortalecimento dos laços estabelecidos com nossos públicos de relacionamento, visando o crescimento sustentável, por meio do (a):
        <br> Garantia de qualidade e segurança dos alimentos;
        <br> Atendimento aos requisitos legais e outros, aplicáveis ao negócio e partes interessadas;
        <br> Desenvolvimento das pessoas de acordo com a nossa essência e cultura;
        <br> Implementação e aplicação de processos que promovam a saúde e segurança das pessoas, a proteção ambiental e a prevenção à poluição;
        <br> Inovação através de seus processos, produtos e serviços;
        <br> Continua melhoria do Sistema de Gestão para alcançar os resultados pretendidos;
        <br> Avaliação de oportunidades e riscos para subsidiar a aplicação de boas práticas nas suas operações.
    </p>
</div>

<hr />
