@{
    ViewData["Title"] = "Hora do Café!";
}

    <div>
        <h3 class="text-dark" style="text-align:center; font-style:italic">@ViewData["Title"]</h3>
        <p class="text-dark" style="text-align:center; font-style:italic">Seja Bem-vindo! Esse espaço é dedicado a todos que são apaixonados por café, no nosso site, buscamos trazer com paixão, conteúdos que faça nossos visitantes relaxar a mente, conhecer e compartilhar informações! </p>        
    </div>

<div id="carousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carousel" data-slide-to="0" class="active"></li>
        <li data-target="#carousel" data-slide-to="1"></li>
        <li data-target="#carousel" data-slide-to="2"></li>
        <li data-target="#carousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block w-100" style="height: 500px; width:100%;" src="~/image/Cafe.jpg" alt="First slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" style="height: 500px; width:100%;" src="~/image/FamiliaCafe1.jpg" alt="Second slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" style="height: 500px; width:100%;" src="~/image/FamiliaCafe2.jpg" alt="Third slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" style="height: 500px; width:100%;" src="~/image/FamiliaCafe3.jpg" alt="Forth slide">
        </div>
    </div>
    <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Anterior</span>
    </a>
    <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Próxima</span>
    </a>
</div>

<hr />


<div>
    <h3 class="text-dark" style="text-align:center; font-style:italic">Café com Poesia</h3>
    <p class="text-dark" style="text-align:center; font-style:italic">Hora de sentar, tomar aquele bom café e apreciar a nossa poesia do dia!</p> <br />
</div>

<div class="container" style="text-align: center;">
    @*<img src="~/image/cafe-e-poesia.jpg" />*@
    <p style="font-family: Arial; font-style:italic; ">
        "Quando sento no centro da sala de estar e ligo a vitrola, seja no início da manhã de um sábado ou no fim da tarde durante a semana, ou ao chegar do trabalho, preparando o mais recente vinil do Chico Buarque, me surge uma espécie de vontade, como se fosse quase uma possessão de uma entidade que não sabe outra coisa senão apreciar o gosto de café.
        Rapidamente, de prontidão, como se fosse ordenado por um desejo sem controle, preparo: esquento a água numa chaleira, me coloco a procurar o pó preto pelo armário e acrescento. O cheiro que àquele ritual exala acaba por tirar toda a minha família do seu comodismo diário e jogá-la numa espécie de encontro transcendental na sala de estar. A minha esposa desce as escadas sedenta, enfeitiçada pelo cheiro que a fez tirá-la de qualquer coisa mais importante que estivesse fazendo; a minha mãe larga a máquina de costura e surge repentinamente; o meu pai grita da biblioteca, perguntando se já tá pronto, e o meu irmão mais novo chega me apontando a xícara; enquanto, no fundo, Buarque canta: “ Todo dia, ela diz que é pra eu me cuidar e essas coisas que diz toda mulher. Diz que está me esperando pro jantar e me beija com a boca de café”.
        É aí que cai a ficha, que se percebe que a casa toda foi hipnotizada, foi convocada a sentar na sala, ouvir uma boa música e tomar um bom café. Como se o tempo tivesse parado a si próprio, o meu pai me olha no rosto, o meu irmão me sorri, a minha mãe elogia o ponto do açúcar e a minha esposa me afaga com afeto. Coincidentemente, como se até o disco tivesse sido enfeitiçado, fazendo complô com aquele momento, Buarque canta: “Com açúcar e com afeto, fiz seu doce predileto pra você parar em casa... “ Então, de súbito, respiro e sinto a felicidade, que se trata de momentos únicos, prazerosos, que por mais que dure pouquíssimo tempo até se desejar outra coisa, outro momento, naquele instante nada mais se deseja a não ser estar ali.
        E como se não faltasse mais nada, o meu irmão cita o romantismo de Lord Byron e diz: “Café dá espírito para aqueles que não têm.” Então, tudo pacifica como se fosse uma chuva que molha o mais árido solo; tudo energiza com tanto afeto e se percebe que além do maravilhoso cheiro de café ter retirado todos de sua alcova, ele também reinventa os reencontros familiares, dando novos sentidos, também, às batidas do coração.". - Webester.
    </p>
</div>

<hr />
