@model ErrorViewModel
@{
    ViewData["Title"] = "Sucesso ao enviar contato!";
}

<div class="alert alert-primary" role="alert" style="text-align:center; font-style:italic">
    Obrigado por entrar em contato, em breve retornaremos!
</div>


<div>
    <a class="btn btn-info" asp-area="" asp-controller="Home" asp-action="Index">Voltar a Tela Inicial</a>
</div>
